<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.vandy.mooc.aad3">

    <!-- Required for fetching feed data. -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/my_backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <!-- Main activity, responsible for showing a list of feed entries. -->
        <activity
            android:name="edu.vandy.mooc.aad3.assignment.activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- This is the service that downloads the feed data from YouTube. -->
        <!-- changes the process of service, to be different than the UI process -->
        <service
            android:name="edu.vandy.mooc.aad3.assignment.services.DownloadAtomFeedService" />
            <!--android:process=":test_service_process"/>-->
    </application>
</manifest>